* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    background:#008AD9;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}
nav .icon{
    font-size: 30px;
    font-weight: 800;
    color:#fff;
    cursor: pointer;
}
nav ol{
    display: flex;
    list-style: none;
    margin: auto 0;
}
nav ol li{
    margin: 0 2px;
}
nav ol li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 10px 20px;
}
 nav ol li:hover a{
    background: #fff;
    color: #008AD9;
 }
section {
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.aboutus .txt{
    display: block;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: black;
}

.profile{
    margin: auto;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;

}
.company{
    font-size: 15px;
    font-family: 'comic sans ms';
}


h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 15px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}
h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 15px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}



