* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    width: 100%;
    background:#008AD9;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}
nav .icon{
    font-size: 30px;
    font-weight: 800;
    color:#fff;
    cursor: pointer;
}
nav ol{
    display: flex;
    list-style: none;
    margin: auto 0;
}
nav ol li{
    margin: 0 2px;
}
nav ol li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 10px 20px;
}
 nav ol li:hover a{
    background: #fff;
    color: #008AD9;
 }

 nav .search_box{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
 }
 nav .search_box input{
    border: none;
    outline: none;
    background: #fff;
    height: 0 10px;
    width: 350px;


 }

 nav .search_box span{
    color: #008AD9;
    font-size: 20px;
    background: #fff;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    
 }
nav .search_box span::after{
    height: 100%;
    width: 100%;
    content: '';
    background: burlywood;
    
}
section {
    margin: auto;
    display: grid;
    margin-bottom: 50px;
}
.product-card{
    position: relative;
    display: grid;
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
}
.card {
    position: relative;
    display: grid;
    grid-template-columns:repeat(5,1fr);
    grid-gap: 30px;
    width: 260px;
    box-shadow: 1px 1px 5px gray;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.img-card{
    max-width: 260px;
    max-height: 260px;
    overflow: hidden;
    padding: 10px;
}
.img{
    width: 100%;
    
    
}
.harga {
    color: red;
}
.btn-block{
    width: 100%;
    background:#3f72af;
    text-align: center;
    padding top: 20px;
    padding bottom: 20px;
    margin-top:20 px;
}
.btn-block:hover{
    background-color: #fff;
    border-style: solid;
    color: #3f72af;
}

.btn-buy{
    color: #fff;
    text-decoration: none;
}
.btn-buy:hover{
    color: #3f72af;
}
.flex{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}
@media (max-width:1920px){
    .product-card{
        width: 100%;
        flex-wrap: wrap;
    }
    .card{
        width: 100%;
        display: block;
    }
}
