* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    width: 100%;
    background:#008AD9;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}
nav .icon{
    font-size: 30px;
    font-weight: 800;
    color:#fff;
    cursor: pointer;
}
nav ol{
    display: flex;
    list-style: none;
    margin: auto 0;
}
nav ol li{
    margin: 0 2px;
}
nav ol li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 10px 20px;
}
 nav ol li:hover a{
    background: #fff;
    color: #008AD9;
 }

 nav .search_box{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
 }
 nav .search_box input{
    border: none;
    outline: none;
    background: #fff;
    height: 0 10px;
    width: 350px;


 }

 nav .search_box span{
    color: #008AD9;
    font-size: 20px;
    background: #fff;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    
 }
nav .search_box span::after{
    height: 100%;
    width: 100%;
    content: '';
    background: burlywood;
    
}
section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}
.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
}
h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}
.destxt{
  font-family: 'comic sans ms';
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 0;
  color: #364f6b;
  width: 100%;
  line-height: 35px;
}
a.tbl-biru {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}
a.tbl-pink {
    background: #2c6988;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}
p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}
.text-product{
    width: 100%;
    margin: 10px;
    text-align: center;
}
.product-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
}
.card {
    width: 260px;
    box-shadow: 1px 1px 5px gray;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.img-card{
    max-width: 260px;
    max-height: 260px;
    overflow: hidden;
    padding: 10px;
}
.img{
    width: 100%;
    
}
.harga {
    color: red;
}
.btn-block{
    width: 100%;
    background:#3f72af;
    text-align: center;
    padding top: 20px;
    padding bottom: 20px;
    margin-top:20 px;
}
.btn-block:hover{
    background-color: #fff;
    border-style: solid;
    color: #3f72af;
}

.btn-buy{
    color: #fff;
    text-decoration: none;
}
.btn-buy:hover{
    color: #3f72af;
}

.flex{
    display: flex;
    justify-content: space-around;
    
}

footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: steelblue ;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
  }
  .left .content p{
    text-align: justify;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover{
    background: #f12020;
  }
  .center .content .fas{
    font-size: 1.4375rem;
    background: #efeded;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    background: #f12020;
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #ffffff;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .right form .btn button:hover{
    background: #2c6988;
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #003E62 ;
  }
  .bottom center span{
    color: #ffffff;
  }
  .bottom center a{
    color: #f12020;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  
  }

  @media (max-width:1200px){
    .product-card{
        padding-left: 0%;
        padding-right: 0%;
        width: 100%;
    }
    .card{
        width: 100%;
        display: block;
    }
}
  @media screen and (max-width: 1100px) {

    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }
