table{
    font-family: sans-serif;
    text-align: center;
    margin-top: 70px;
    margin-bottom: auto;
}
table{
    border-collapse: collapse;
    font-size: 12pt;
    border: 1px solid gray; 

}
td{
    padding: 3px;
    height: 24px;
}
th{
    background-color: steelblue;
    color: white;
    height: 35px;
}
.btn-delete{
    background-color: rgb(228, 58, 58); 
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.btn-update{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}